<div class="panel panel-{% if documents|length > 0 %}default{% else %}warning{% endif %}">
	<div class="panel-heading">
		<h3 class="panel-title">
			{{ "Documents" | gettext }}
		</h3>
	</div>
	<div class="panel-body">
		{% if documents|length > 0 %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ "Title" | gettext }}</th>
						<th>{{ "Type" | gettext }}</th>
						<th>{{ "Description" | gettext }}</th>
						<th>{{ "Date published" | gettext }}</th>
						<th>{{ "Date modified" | gettext }}</th>
						<th>{{ "Format" | gettext }}</th>
						<th>{{ "Language" | gettext }}</th>
					</tr>
				</thead>
				<tbody>
					{% for document in documents %}
						<tr> <!-- add conditional colouring based on presence of url? -->
							<td><a href="{{document.url}}" target="_blank">{{ document.title}}</a></td>
							<td>{{ document.type }}</td>
							<td>{{ document.description }}</td>
							<td>{{ document.datePublished|truncate(10,true,"") }}</td> <!-- add time hover over? -->
							<td>{{ document.dateModified|truncate(10,true,"") }}</td> <!-- add time hover over? -->
							<td>{{ document.format}}</td>
							<td>{{ document.language}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			{{ "No documents provided" | gettext }}
		{% endif %}
	</div>
</div>