<section id="planning" class="panel panel-default">
	<div class="panel-heading">
		<h2>
			{{ "Planning" | gettext }}
		</h2>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-{% if planning.budget.amount.amount %}default{% else %}warning{% endif %}">
					<div class="panel-heading">
						<h3 class="panel-title">
							{{ "Budget amount" | gettext }} <small>({{ "ID" | gettext }})</small>
						</h3>
					</div>
					<div class="panel-body">
						<h4>
							{% if planning.budget.amount.amount %}
								{{ planning.budget.amount.amount|currency }}
								{{planning.budget.amount.currency}}
							{% else %}
								{{ "Budget amount not provided" | gettext }}
							{% endif %}
							{% if planning.budget.id %}
								<small>({{planning.budget.id}})</small>
							{% else %}
								<small class="bg-warning">({{ "Budget ID not provided" | gettext }})</small>
							{% endif %}
						</h4>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-{% if planning.budget.description and planning.budget.source %}default{% else %}warning{% endif %}">
					<div class="panel-heading">
						<h3 class="panel-title">
							{{ "Budget description" | gettext }} <small>({{ "Source" | gettext }})</small>
						</h3>
					</div>
					<div class="panel-body">
						{% if planning.budget.description %}
							{{planning.budget.description}}
						{% else %}
							<span class="bg-warning">{{ "Budget description not provided." | gettext }}</span>
						{% endif %}
							{% if planning.budget.source %}
								<small>(<a href="{{planning.budget.source}}" target="_blank">{{ "Budget source" | gettext }}</a>)</small>
							{% else %}
								<small class="bg-warning">({{ "Budget source not provided" | gettext }})</small>
							{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-{% if planning.rationale %}default{% else %}warning{% endif %}">
					<div class="panel-heading">
						<h3 class="panel-title">
							{{ "Rationale" | gettext }}
						</h3>
					</div>
					<div class="panel-body">
						{% if planning.rationale %}
							{{planning.rationale}}
						{% else %}
							{{ "Budget rationale not provided" | gettext }}
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-{% if planning.budget.project and planning.budget.projectID %}default{% else %}warning{% endif %}">
					<div class="panel-heading">
						<h3 class="panel-title">
							{{ "Project information" | gettext }} <small>({{"ID" | gettext}})</small>
						</h3>
					</div>
					<div class="panel-body">
						{% if planning.budget.project %}
							{{planning.budget.project}}
						{% else %}
							<span class="bg-warning">{{ "Project name not provided." | gettext }}</span>
						{% endif %}
						{% if planning.budget.projectID %}
							<small>({{planning.budget.projectID}})</small>
						{% else %}
							<small class="bg-warning">({{ "Project ID not provided" | gettext }})</small>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{% if planning.documents %}
					{% set documents = planning.documents %}
					{% include 'documents.html' %}
				{% else %}
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h3 class="panel-title">
								{{ "Documents" | gettext }}
							</h3>
						</div>
						<div class="panel-body">
							{{ "No documents provided" | gettext }}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>


